<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<h1>Se connecter</h1>
<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}"/>
    <div class="input-space"></div>
    <label for="password">Password</label>
    <input type="password" id="password" name="_password"/>

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
    <input type="submit" value="Valider">
    </form>{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>